@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //NEUTRAL
  --white: #ffffff;
  --black: #000000;

  //PRIMARY
  --drevo: #7e5228;
  --kov: #afca0b;
  --grafika: #f7941d;
  --textil: #ffcb04;

  --chemie: #6859a3;
  --prirodopis: #004f9f;
  --fyzika: #ec619f;
  --it: #83d0f5;

  --sos: #e74011;
  --hriste: #3fa535;
  --tabory: #f37053;
  --kreativniuceni: #4aa1ae;

  //ACCENTS
  --accent-pink: #f4d7e5;
}

* {
  border-color: var(--black);
  border-style: solid;
}

body {
  color: var(--black);
  background: var(--white);

  font-family: var(--youth);
}

p {
  font-weight: 400;
  margin-bottom: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: -0.035em;
}

h2 {
  font-weight: 700;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 700;
  margin-bottom: 0.5rem;
}

strong {
  font-weight: 700;
}

a {
  &:not(.menu-link) {
    &:not(.header-title) {
      text-decoration: underline;
    }
  }
}

.above-heading {
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.underline-link {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 1px;
    background-color: var(--black);

    transition: all 0.25s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

// ------ BLOKY PŘÍKLADŮ

.correct-example {
  em {
    font-weight: 400;
    color: var(--hriste);
  }
}

.error-example {
  em {
    font-weight: 400;
    color: var(--sos);
  }
}

.error-block {
  overflow: hidden;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-29deg);
    content: "";
    height: 1px;
    width: 200%;
    background-color: var(--sos);
    opacity: 0.15;
    mix-blend-mode: multiply;
  }
}

.forbidden-block {
  overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
    height: 1px;
    width: 200%;
    background-color: var(--sos);

    z-index: 5;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    content: "";
    height: 1px;
    width: 200%;
    background-color: var(--sos);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
